<section id="intro" {{#if author.cover}}class="covered" style="background-image: url({{author.cover}})"{{else}}{{#if @blog.cover}} class="covered" style="background-image: url({{@blog.cover}})"{{/if}}{{/if}}>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="intro-text">
					<h1>{{author.name}}</h1>
					{{!-- <h3>						
					{{#if author.bio}}
						{{author.bio}}
	        		{{else}}
						{{plural pagination.total empty='No Post' singular='Discover % Post' plural='Discover % Posts'}} by &#8220;{{author.name}}&#8221; Author.
					{{/if}}
					</h3> --}}
				</div>
			</div>
		</div>
	</div>
</section>