<nav class="navbar navbar-custom" role="navigation">
    <div class="container">
        <div class="navbar-header">
            {{#if @blog.logo}}
            <a class="navbar-brand logo-img" href="{{@blog.url}}">
                <img src="{{@blog.logo}}" alt="{{@blog.title}}" title="{{@blog.title}}"/>
            </a>
            {{else}}
            <a class="navbar-brand logo-text" href="{{@blog.url}}">{{@blog.title}}</a>
            {{/if}}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                <span>Navigation</span> <i class="fa fa-tasks"></i>
            </button>
        </div>        
        <div class="social-top">
            {{>misc/social-icons custom_class="top"}}
        </div>        
        <ul class="nav main-nav collapse navbar-collapse">
        {{#if @blog.navigation}}
            {{navigation}}
        {{else}}
            {{>misc/nav-items}}
        {{/if}}
        </ul>
    </div>
</nav>