{{#contentFor "customBodyClass"}}header-style3{{/contentFor}}
<nav class="navbar navbar-custom style3" role="navigation">    
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <ul class="nav main-nav collapse navbar-collapse">
                {{#if @blog.navigation}}
                    {{navigation}}
                {{else}}
                    {{>misc/nav-items}}
                {{/if}}
                </ul>
                <div class="social-top">
                    {{>misc/social-icons custom_class="top"}}
                </div>
            </div>
        </div>
    </div>
    <div class="logo-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    {{#if @blog.logo}}
                    <a class="navbar-brand logo-img" href="{{@blog.url}}">
                        <img src="{{@blog.logo}}" alt="{{@blog.title}}" title="{{@blog.title}}"/>
                    </a>
                    {{else}}
                    <a class="navbar-brand logo-text" href="{{@blog.url}}">{{@blog.title}}</a>
                    {{/if}}
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                        <span>Navigation</span> <i class="fa fa-tasks"></i>
                    </button>
                </div>                        
                {{!-- <div class="search-area">
                    <div class="banner-search-form">
                        <input type="search" name="search-keyword" id="search-keyword" placeholder="Type and hit enter!"/>
                        <span class="banner-search-icon">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                    <div class="search-result-wrap">
                        <span class="arrow"></span>
                        <div class="search-result-inner">
                            <ul class="search-result"></ul>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
    
</nav>