{{!< default}}
{{#post}}
{{>misc/breadcrumb}}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38738531-2', 'auto');
  ga('send', 'pageview');

</script>

<main class="body-content page-detail" role="main">
	<div class="container">
        <div class="row">
            <div class="{{^has tag="_full_width,_left_sidebar,_both_sidebar"}}col-md-9 right-sidebar{{else}}{{#has tag="_both_sidebar"}}col-md-6 col-md-push-3 both-sidebar{{else}}{{#has tag="_left_sidebar"}}col-md-8 col-md-push-4 left-sidebar{{else}}col-md-12 full-width{{/has}}{{/has}}{{/has}}">
            	<div class="post-wrap">
            		<article class="{{post_class}}" id="author-info" {{#if author}} {{#if author.image}}data-author-image="{{author.image}}"{{/if}} data-author-name="{{author.name}}" data-author-bio="{{author.bio}}"{{/if}}>
                        {{! Everything below outputs content of the the post which has been published }}
                        <h2 class="post-title">
                            <a href="{{url}}">{{{title}}}</a>
                        </h2>
            			<section class="post-content">
                            {{content}}
                        </section>
                    </article>
            	</div>
            </div>
            {{^has tag="_full_width,_left_sidebar,_both_sidebar"}}              
            <div class="col-md-3 sidebar right-sidebar">
                {{>sidebar/default}} 
            </div>
            {{else}}
            {{#has tag="_both_sidebar"}}                
            <div class="col-md-3 col-md-pull-6 sidebar left-sidebar">
                {{>sidebar/left}} 
            </div>
            <div class="col-md-3 sidebar right-sidebar">
                {{>sidebar/default}} 
            </div>
            {{else}}
            {{#has tag="_left_sidebar"}}
                <div class="sidebar col-md-4 col-md-pull-8 left-sidebar">
                    {{>sidebar/default}} 
                </div>              
            {{/has}}
            {{/has}}
            {{/has}}
       	</div>
    </div>
</main>
{{/post}}